
@charset "utf-8";
/* CSS Document */

/*       +++++++++++ Basic CSS +++++++++++++      */

* {margin:0; padding:0;}

body {
	color:#dcdcdc;
	color: #CCCCCC;
	background:url(images/bg.jpg) top center no-repeat #222326;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	margin-bottom: 16px;
	margin-top: 12px;
}

p {
	margin:0px 0px 20px 0px;
}

a {
	outline:none; 
	text-decoration: none;
	color:#adb0b4;
}
a:hover {
	color:#d5d8db;
	text-decoration: none;
}

a img {
	border:none;
}

.clr {
	display: block;
	clear: both;
}

.clr6 {
	display: block;
	clear: both;
	height: 6px;
}

.clr12 {
	display: block;
	clear: both;
	height: 12px;
}

.clr16 {
	display: block;
	clear: both;
	height: 16px;
}

form {
	margin: 0px;
	padding: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	margin-bottom: 6px;
}

ul ul,
ul ul ul{
	margin-bottom: 0px;
}

ul li,
ul li ul li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	line-height: 16px;
	background-image: url(images/sq-bullet3.gif);
	background-position: 0px 7px;
	background-repeat: no-repeat;
	padding-left: 12px;
	margin-bottom: 6px;
}

ul li ul li {
	background-image: url(images/sq-bullet4.gif);
}


ol {
	margin: 0px;
	padding: 0 0 0 24px; /*--Distance between the order numbers--*/
}
ol li {
	margin: 0px;
	padding: 0px 0px;
	margin-bottom: 6px;	
}

hr {
	background-color: #666666;
	border-bottom: 1px solid #666666;
	color: #666666;
}

fieldset {
	border: 1px solid #666666;
	padding: 12px;
}

fieldset legend {
	font-weight: bold;
	color: #FFFFFF;
}

input[type=text], input[type=password], input[type=file], select, textarea {
	border: 1px solid #858a8e;
	background-color: #c9ccd0;
	color: #333333;
  	-moz-border-radius: 3px;
  	-khtml-border-radius: 3px;
  	-webkit-border-radius: 3px;
}

input[type=button], input[type=reset], input[type=submit] {
	border: 1px solid #858a8e;
	background-color: #141618;
	color: #abafb0;
	padding: 3px 12px;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 2px;
  	-moz-border-radius: 2px;
  	-khtml-border-radius: 2px;
  	-webkit-border-radius: 2px;	
}


/*       +++++++++++ Basic Layout +++++++++++++      */
#wrapper {
	display: block;
	width: 960px;
	margin: 0px auto;
	text-align: left;
}

#layouttop {
	display: block;
	width: 960px;
	height: 26px;
	background-image: url(images/headertop.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: 12px 0 0 0;
}

#layoutbottom {
	display: block;
	width: 960px;
	height: 26px;
	background-image: url(images/footerbottom.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-bottom: 12px;
}

#header {
	display: block;
	width: 864px;
	padding: 0px 48px;
	background-image: url(images/headerbg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: 0px 0px;
	overflow: hidden;
	max-height: 100px;
}

#innerwrapper {
	display: block;
	width: 864px;
	padding: 0px 48px;
	background-image: url(images/innerbg-trns.png);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	margin: 0px 0px;
}

/*       +++++++++++ Header +++++++++++++      */

#header #headerleft{
	display: block;
	float: left;
	width: 620px;
	padding-top: 12px;
}

#header #headerright{
	display: block;
	float: left;
	width: 244px;
	height: 75px;	
}

#header #headerleft h1 {
	margin: 0px;
	padding: 0px;
}

#header #headerleft h1 a{
	display: block;
	float: left;
	padding-right: 12px;
	font-size: 36px;
	color: #eeeeee;
	font-weight: normal;
	text-decoration: none;
	border-right: 1px solid #adb0b4;
}

#header #headerleft h1 a.nobar{
	border-right: 0px solid #adb0b4;
}

#header #headerleft h1 a.nobar img{
	border: 0px solid #adb0b4;
	max-height: 60px;
}

#header #headerleft h3{
	display: block;
	float: left;
	padding-left: 12px;
	font-size: 12px;
	color: #cecece;
	font-weight: normal;
	text-decoration: none;
	padding-top: 16px;
	padding-bottom: 12px;
	margin: 0px;
}

#header #headerright #searchboxo{
	display: block;
	float: right;
	width: 200px;
	height: 30px;
	margin-top: 20px;
	background-image: url(images/searchbg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#header #headerright #searchboxo form input.searchinput {
	display: block;
	float: left;
	width: 150px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	font-size: 11px;
	margin-top: 5px;
	margin-left: 5px;
	border: 0px solid #333333;
	background-color: #838687;
	background: transparent;
}

#header #headerright #searchboxo form input.submitbutton {
	display: block;
	float: left;
	width: 32px;
	height: 20px;
	margin-top: 5px;
	margin-left: 6px;
	padding: 0px;
	border: 0px solid #333333;
	cursor: pointer;
	background: transparent;
}

/*       +++++++++++ Top navigation +++++++++++++      */

#navouter {
	display: block;
	height: 38px;
	background-image: url(images/topnavleft.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-bottom: 16px;
}

#navouter #nav {
	display: block;
	height: 38px;
	background-image: url(images/topnavright.png);
	background-repeat: no-repeat;
	background-position: right 0px;
}

#navouter #nav ul{
}

#navouter #nav ul,
#navouter #nav ul li{
	margin: 0px;
	padding: 0px;
	background-image: none;
	list-style-type: none;
}

/*       +++++++++++ Main Content Area +++++++++++++      */

#maincol {
	display: block;
	width: 572px;
	float: left;
}

div.postwrap {
	display: block;
	margin-bottom: 24px;
}

h2.searchtitle-page,
div.postwrap h2.posttitle-page,
div.postwrap h2.posttitle-page a,
div.postwrap h2.posttitle,
div.postwrap h2.posttitle a,
div.postwrap h2.posttitle a:visited {
	font-size: 18px;
	font-weight: bold;
	color: #c0c4ca;
	text-decoration: none;
	margin-bottom: 6px;
}

div.postwrap h2.posttitle a.searchtitle {
	font-size: 14px;
}

h2.searchtitle-page,
div.postwrap h2.posttitle-page {
	border-bottom: 1px solid #666666;
	padding-bottom: 4px;
	margin-bottom: 24px;	
}

div.postwrap h2.posttitle a:hover {
	color: #e0e2e7;
}

div.postwrap p.postmeta,
div.postwrap div.postmeta {
	display: block;
	min-height: 23px;
	vertical-align: middle;
	color: #84878b;
	font-size: 11px;
	padding: 3px 12px;
	background-image: url(images/metabg2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 4px;
}


div.postwrap div.postcontent {}

div.roundcornrrbox {
	background-color: #1f2225;
}

div.roubcornrcontent {
	display: block;
	padding: 6px 12px;
}

div.topleftcorner {
	display: block;
	height: 6px;
	background-image: url(images/topleftcorner.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
div.toprightcorner {
	display: block;
	height: 6px;
	background-image: url(images/toprightcorner.png);
	background-position: right 0px;
	background-repeat: no-repeat;
}
div.bottomleftcorner {
	display: block;
	height: 6px;
	background-image: url(images/bottomleftcorner.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

div.bottomrightcorner {
	display: block;
	height: 6px;
	background-image: url(images/bottomrightcorner.png);
	background-position: right 0px;
	background-repeat: no-repeat;
}

div.postwrap span.postcomments {
	display: block;
	width: 124px;
	float: left;
	background-image: url(images/icon-comment.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 18px;
}

div.postwrap span.posttags-single,
div.postwrap span.posttags {
	display: block;
	width: 312px;
	float: left;
	background-image: url(images/icontag.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 18px;
	color: #999999;
}

div.postwrap span.posttags-single {
	width: auto;
	width: 530px;
	padding: 0px 12px 0px 18px;
	min-height: 16px;
}

div.postwrap span.postmore {
	display: block;
	float: left;
	background-image: url(images/icon-more.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 18px;
}

#nextprevious {
	display: block;
	margin-bottom: 16px;
}

#extrastuff #rssleft,
#extrastuff #trackright,
#nextprevious .alignleft a, 
#nextprevious .alignright a {
	display: block;
	border: 1px solid #222428;
	padding: 4px 6px;
	background-color: #2b2e32;
}

h2.arpageTitle {
	display: block;
	font-size: 20px;
	border-bottom: 1px solid #999999;
	margin-bottom: 24px;
}

a.searchmore,
a.searchmore:visited {
	display: block;
	float: right;
	line-height: 18px;
	height: 18px;
	vertical-align: middle;
	font-size: 11px;
	color: #CCCCCC;
	padding: 2px 6px;
	background-color: #2e3135;
	margin-top: 12px;
}

a.searchmore:hover {
	color: #FFFFFF;
}

.ie a.searchmore {
	margin-top: 0px;
}

/*       +++++++++++ Comment page +++++++++++++      */

a.post-edit-link {
	display: block;
	line-height: 22px;
	height: 22px;
	vertical-align: middle;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration: underline;
	display: block;
	margin-bottom: 12px;
}

a.post-edit-link:hover {
	text-decoration: none;
}

h3#commentstitle {
	font-size: 16px;
	font-weight: normal;
	color: #caced3;
	padding-left: 0px;
	padding-bottom: 4px;
	margin-bottom: 12px;
	border-bottom: 1px solid #35383d;
}

ul.commentlist {
}

ul.commentlist li {
	margin: 2px 0px 24px 0px;
	padding: 0px;
	background-image: none;
  	-moz-border-radius: 4px;
  	-khtml-border-radius: 4px;
  	-webkit-border-radius: 4px;		
}

ul.commentlist ul {
	margin-left: 12px;
	margin-top: 16px;
}

ul.commentlist li ul li {
	display: block;
	margin: 2px 2px;
	padding: 6px;
	background-color: #32363a;
}

ul.commentlist li ul li ul li {
	background-color: #454a4f;
	margin: 4px 0px;	
}

ul.commentlist li ul li ul li {
	background-color: #53585e;
}

ul.commentlist li ul li ul li ul li {
	background-color: #5d6369;
}

a.gravatar {
	display: block;
	float: left;
	margin: 0px 8px 4px 0px;
}

a.gravatar img{
	border: 0px solid #333333;
}

a.comment-reply-link {
	display: block;
	margin: 0px;
	padding: 4px;
	border-bottom: 1px solid #333333;
}

div#respond {}

div#respond h3 {
	margin-bottom: 12px;
}

div.commentbody cite,
div.commentbody cite a {
	color: #FFFFFF;
	font-weight: bold;
}

/*       +++++++++++ Right column side bar +++++++++++++      */

#rightcol {
	display: block;
	width: 276px;
	float: left;
	margin-left: 16px;
	overflow: hidden;
}

div.roundcrrcnt {
	display: block;
	padding: 12px 16px;
}

#rightcol ul.sidebaritem,
#rightcol li.sidebaritem {
	margin: 0px;
	padding: 0px;
	background-image: none;
	list-style-type: none;
}

div.widget,
div.widget-cat,
#rightcol li.sidebaritem {
	margin-bottom: 16px;
}

div.widget h2,
#bottompanel div.col1 h3,
#bottompanel div.col2 h3,
#bottompanel div.col3 h3,
div.widget h4,
#rightcol li.sidebaritem h2.widgettitle {
	font-size: 18px;
	font-weight: normal;
	color: #caced3;
	padding-left: 0px;
	padding-bottom: 4px;
	margin-bottom: 12px;
	border-bottom: 1px solid #35383d;
	text-indent: 0px;
}

li.widget_search div.sidebarbox form input.searchinput1 {
	height: 20px;
	padding: 0px;
	margin: 0px;
	font-size: 11px;
	line-height: 16px;
	width: 160px;
}

li.widget_search div.sidebarbox form input.submitbutton1 {
	height: 24px;
	width: 24px;
	padding: 0px;
	margin: 0px;
	background-color: #26282a;
	border: 1px solid #000000;
	color: #CCCCCC;
	background-image: url(images/searchicon.png);
	background-repeat: no-repeat;
	background-position: 4px 0px;	
}

div.widget-cat h4,
#rightcol li.widget_categories div.sidebarbox h2.widgettitle {
	display: block;
	background-image: url(images/cat-title-bg.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	color: #e5eef5;
	font-size: 18px;
	font-weight: normal;
	padding: 0px 12px;
	margin: 0px 0px 2px 0px;
}

.ie #rightcol li.widget_categories div.sidebarbox h2.widgettitle {
	margin-left: -16px;
}

div.widget-cat ul li,
li.widget_categories ul li {
	display: block;
	background-color: #35383d;
	border-bottom: 1px solid #1f2225;
	padding: 4px 0px 4px 16px;
	margin: 0px;
	background-image: none;
	color: #9ea2a9;
}

div.widget-cat ul li ul li,
li.widget_categories ul li ul li,
div.widget-cat ul li ul li ul li,
li.widget_categories ul li ul li ul li{
	border-bottom: 0px solid #1f2225;
	padding: 4px 0px 4px 12px;
}

div.widget-cat ul li a,
div.widget-cat ul li a:visited,
li.widget_categories ul li a,
li.widget_categories ul li a:visited{
	color: #c4c8cf;
	font-weight: bold;
}

div.widget-cat ul li a:hover,
li.widget_categories ul li a:hover{
	color: #FFFFFF;
}

div.welcomemsg {
	color: #C9C9C9;
	line-height: 17px;
	text-align: justify;
}

table#wp-calendar {
	border-collapse: collapse;
	border: 0px solid #000000;
	margin: 0px;
	padding: 0px;
	background-color: #00FF00;
	width: 100%;
}

table#wp-calendar caption {
	background-color: #0f5798;
	font-size: 14px;
	padding: 4px 0px;
	text-align: center;
	color: #abc2d7;
	width: 100%;
	border: 1px solid #50545a;	
}

table#wp-calendar tr {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

table#wp-calendar td,
table#wp-calendar th{
	border-collapse: collapse;
	border: 1px solid #50545a;
	text-align: center;
}

table#wp-calendar td a,
table#wp-calendar td a:visited{
	font-weight: bold;
	color: #97bede;
}
table#wp-calendar td a:hover{
	color: #FFFFFF;
}

#feedbox {
	display: block;
	background-image: url(images/rssbg.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 70px;
}

#feedbox #contrssbox {
	display: block;
	float: left;
	margin: 12px 0px 0px 16px;
}

#feedbox #contrssbox a,
#feedbox #contrssbox a:visited{
	display: block;
	float: left;
	height: 32px;
	line-height: 32px;
	color: #caced3;
	font-weight: bold;
	text-decoration: none;
	background-image: url(images/rss-bg.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 96px;
	padding-left: 36px;
}

#feedbox #contrssbox a:hover{
	color: #FFFFFF;
	background-position: 0px -32px;	
}


div.sidebarbox select.postform {
	margin-top: 12px;
}

/* ++++++++++++ Footer +++++++++++++++ */

#bottompanel {
	display: block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	margin-top: 16px;
}

#bottompanel div.col1,
#bottompanel div.col2,
#bottompanel div.col3 {
	display: block;
	float: left;
	width: 32%;
	margin-top: 0px;
	padding-top: 0px;
}

#bottompanel div.col1 h3,
#bottompanel div.col2 h3,
#bottompanel div.col3 h3 {
	margin-top: 0px;
	padding-top: 0px;
}

#bottompanel div.col2,
#bottompanel div.col3 {
	margin-left: 2%;
}

div.copyr {
	display: block;
	padding: 6px 0px;
	font-size: 11px;
	color:#999999;
}

#credit {
	display: block;
	width: 864px;
	margin: 0px auto;
	text-align: right;
	color: #707279;
	font-size: 11px;
	padding: 0px 0px 12px 0px;
}

#credit a,
#credit a:visited{
	color: #707279;
	font-size: 11px;
	text-decoration: underline;
	color: #8f9198;
}

#credit a:hover{
	text-decoration: none;
}

/* Misc */

.highlight {
  color: #222;
  font-weight: bold;
  }

.cleared {
  margin: 0;
  padding: 0;
  clear: both;
  }

.alignleft {
  float: left;
  margin: 6px 10px 6px 0;
  }
.alignright {
  float: right;
  margin: 6px 0 6px 10px;
  }
  
.aligncenter,
div.aligncenter {
  margin: 10px auto;
  text-align: center;
  display: block;
  }

img.alignleft {
  float: left;
  margin: 5px 10px 5px 0;
  }
img.alignright {
  float: right;
  margin: 5px 0 5px 10px;
  }
img.aligncenter {
  margin: 10px auto;
  text-align: center;
  display: block;
  }

.wp-caption {
  	border: 1px solid #ddd;
  	text-align: center;
  	background-color: #d2d6db;

  	padding-top: 4px;

  	-moz-border-radius: 6px;
  	-khtml-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
}

.wp-caption img {
	  margin: 0;
	  padding: 0;
	  border: none;
	  margin-bottom: 4px;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
  color: #111;
}

div#extrastuff {
	display: block;
	margin-bottom: 24px;
	margin-top: 12px;
}

/* WP */
blockquote{margin:20px 10px 10px 5px;border-left:4px solid #DDD;padding:0 5px 0 5px;font-size:9px;text-align:justify;}
.commenttext blockquote{border-left:4px solid #B6B6B5;}
.wp-caption{border:1px solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;}
.wp-caption img{border:none;margin:0;padding:0;}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;color:#111;margin:0;padding:0 4px 5px;}
.alignleft,img.alignleft{float:left;margin:5px 10px 5px 0;}
.alignright,img.alignright{float:right;margin:5px 0 5px 10px;}
.aligncenter,div.aligncenter,img.aligncenter{text-align:center;display:block;margin:10px auto;}
abbr, acronym, span.abbr{cursor:help;border-bottom:1px dotted #000;}
table{margin:.5em 0 1em;}
table td,table th{text-align:left;border-right:1px solid #414246;padding:.4em .8em;}
table th{background-color:#1f2225;color:#fff;text-transform:uppercase;font-weight:bold;border-bottom:1px solid #35383d;}
table td{background-color:#3f4248;}
table th a{color:#d6f325;}
table th a:hover{color:#fff;}
table tr.even td{background-color:#2f3136;}
table tr:hover td{background-color:#25272b;}
table.nostyle td,table.nostyle th,table.nostyle tr.even td,table.nostyle tr:hover td{border:0;background:none;background-color:transparent;}
.wp_syntax { width:auto; }
.wp_syntax table { border:0 !important; }
.wp_syntax table td { border:0 !important; }
img.wp-smiley{border:0px;vertical-align:middle;}

